/* 고딕체 헤더 스타일 */
.header-title {
    font-size: 30px;
    font-weight: 300; /* 얇은 글씨 */
    color: #707070;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


body {
    min-width: 320px !important;
    width: 100%; /* 메뉴가 화면 너비에 맞게 표시되도록 설정 */

    color: #5a5a5a;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




/* 버튼 공통 스타일 */
button, .btn {
    padding: 10px 20px;
    background-color: #007bff; /* 파란색으로 통일 */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    display: inline-block; /* 버튼을 가로 너비에 맞게 줄이기 */
    width: auto;           /* 버튼이 자동 너비를 가지도록 설정 */
    margin-top: 10px; margin-left: 3px; margin-right: 3px;
    cursor: pointer;
}

button:hover, .btn:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

/* 기본 버튼 스타일 덮어쓰기 */
.btn-primary {
    background-color: #007bff !important;  /* 파란색으로 강제 지정 */
    border: none;
    color: white !important;
    width: auto;           /* 버튼이 자동 너비를 가지도록 설정 */
    font-size: 16px;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #0056b3 !important;
}


/* 폼 스타일 */
.form-style {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 공통 입력 필드 스타일 */
input[type="text"], 
input[type="password"], 
select, 
.input-field {
    width: 100%;  /* 모든 입력 필드 기본 너비는 100% */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;  /* 배경을 하얀색으로 설정 */
    text-align: left;  /* 모든 입력 필드 텍스트는 왼쪽 정렬 */
    box-sizing: border-box; /* padding을 포함한 전체 박스 크기 */
}

/* .input-field 클래스만의 스타일 */
.input-field {
    width: 80%;  /* .input-field에만 적용되는 너비 설정 */
    display: block;  /* 블록 요소로 설정해서 가운데 정렬 가능 */
    margin-left: auto;
    margin-right: auto;
}

/* 입력 필드에 포커스 시 스타일 */
input[type="text"].small-input:focus, 
input[type="password"]:focus, 
select:focus, 
.input-field:focus {
    border-color: #007bff;
    outline: none; /* 포커스 시 기본 파란 라인 제거 */
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);  /* 포커스 시 파란 테두리 */
}


/* URL 입력란 스타일 */
input[type="text"].small-input {
    width: 60%;  /* 입력 필드 크기를 작게 설정 */
    display: inline-block;
    padding: 10px;
    margin-left: 0px; margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* URL 입력란 스타일과 유사하게 */
.menu-container label,
.menu-container input[type="text"],
.menu-container select {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* 각 필드 간의 간격을 조정 */
}

.small-input {
    width: auto; /* 작은 입력 필드 */
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}



/* a 태그 링크 스타일 */
a {
    color: #007bff;
    text-align: center;
    display: block;
}



/* 로그인 상태 표시 스타일 */
nav {
    text-align: right; /* 오른쪽 정렬 */
    margin-bottom: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #b9d0ff; /* 원하는 색상 */
    font-weight: bold;
}

nav ul li a:hover {
    color: #b9c8ff;
}

/* 로그인 상태 표시 스타일 (auth-status) */
.auth-status {
    display: flex;            /* 로그인 상태 표시를 한 줄에 표시 */
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: center;       /* 수직 정렬 */
    list-style-type: none;     /* 점 목록 없애기 */
    margin: 0;  
    padding: 0;
}

.auth-status li {
    margin-left: 5px; /* li 사이 간격 */
}

.auth-status a {
    text-decoration: none;
    color: #9c9c9c; /* 원하는 색상 */
    font-weight: bold;
    font-size: 16px;
}

.auth-status a:hover {
    color: #0056b3; /* 링크 hover 시 스타일 */
}


/* 기본 폼 스타일 */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* 버튼 스타일 */
button, input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #60adff;
    color: white;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
}

button:hover, input[type="submit"]:hover {
    opacity: 0.8;
}

/* 회색 버튼 스타일 */
.btn-gray {
    padding: 10px 10px; /* 크기 조정 */
    background-color: #ccc; /* 회색 배경 */
    color: #333; /* 텍스트 색상 */
    border: none;
    border-radius: 5px;
    font-size: 0.9rem; /* 작은 폰트 */
    cursor: pointer;
}

.btn-gray:hover {
    background-color: #5a6268;
    transition: background-color 0.3s ease;
}

/* 딜리트 버튼 스타일 */
.delete-menu-button {
    padding: 10px 10px; /* 크기 조정 */
    background-color: #ccc; /* 회색 배경 */
    color: #333; /* 텍스트 색상 */
    border: none;
    border-radius: 5px;
    font-size: 0.9rem; /* 작은 폰트 */
    cursor: pointer;
}

.delete-menu-button:hover {
    background-color: #5a6268;
    transition: background-color 0.3s ease;
}


/* 어드민 바 스타일 */
#admin-bar {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

#admin-bar button {
    background-color: #444;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
}

#admin-bar button:hover {
    background-color: #4e4c97;
}

/* 헤더 스타일 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #002147; /* Oxford Blue */
    

}



/* 네비게이션 메뉴 스타일 */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    white-space: nowrap; /* 한 줄로 고정 */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif


}

nav ul li {
    margin-right: 20px; /* 메뉴 사이 간격 */
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

/* 페이지를 그리드로 구성 (에디트 모드일 때) */
body.edit-mode {
    display: grid;
    grid-template-columns: 250px 1fr; /* aside는 왼쪽, main은 오른쪽 */
    grid-template-areas: "aside main"; /* aside와 main을 그리드 영역으로 정의 */
    height: 100vh; /* 페이지 전체 높이로 설정 */
}


/* aside 스타일 (왼쪽에 고정) */
aside {
    grid-column: 1; /* aside가 왼쪽에 위치 */
    width: 120px;
    background-color: #f4f4f4; /* 배경색 */
    height: 100vh; /* 전체 높이 */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
}

main {
    grid-column: 2; /* CKEditor가 들어갈 main 영역 */
    padding: 20px;
    margin: 0;
    display: block;
    width: 100%; /* 너비를 최대한 확장 */
}

aside img {
    display: block;
    margin-bottom: 10px;
    width: 100px;
    height: auto;
}

/* footer 스타일 - main 아래에 위치하도록 설정 */
.footer {
    grid-column: 2; /* 오른쪽 main 영역 아래로 정렬 */
    padding: 70px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex; /* 왼쪽 영역을 가로 정렬 */
    align-items: center; /* 세로 정렬 */
    gap: 10px; /* 웹사이트 이름과 Logout 간 간격 */
}

.footer-auth-status {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;

}


/* 링크 스타일 */
a {
    color: #5a5a5a;
    text-align: left;
    display: inline; /* 또는 inline-block */
    font-size: 16px;
}

.edit-mode #thumbnail-list {
    display: block;
}

#thumbnail-list {
    display: none;
}

/* 웹사이트 이름과 Home 링크 스타일 */
.homepage-link {
    text-decoration: none; /* 밑줄 제거 */
    color: #85a1e8; /* 기본 파란색 */
    font-weight: bold; /* 두꺼운 글씨 */
    font-size: 28px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

/* 마우스를 올렸을 때 색깔을 약간 진하게 */
.homepage-link:hover {
    color: #ffffff; /* hover */
    text-decoration: none; /* hover 시에도 밑줄 없음 */
}

#ckeditor-form {
    max-width: none; /* max-width 제한을 없애기 */
    width: 95%;     /* 폼의 전체 너비 사용 */
}

#editor {
    width: 100%;
    height: 500px; /* CKEditor의 높이 설정 */
}

.ck-editor__editable {
    min-height: 500px; /* CKEditor 내부 텍스트 영역의 최소 높이 */
}

.main-container {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* 기본적으로 햄버거 메뉴 스타일을 숨김 */
.hamburger {
    display: none;
    cursor: pointer;
    margin-left: auto; /* 오른쪽 정렬 */
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: rgb(255, 255, 255);
}


/* 모바일에서만 햄버거 메뉴 보이게 */
@media (max-width: 500px) {
    .hamburger {
        display: block;
        position: relative;

    }

    /* 네비게이션 메뉴 숨김 */
    .custom-nav .custom-menu {
        display: none;
        padding: 10px;
        position: fixed;
        top: 270px; /* 어드민 바 아래로 메뉴 위치 조정 */
        right: 0;
        background-color: #002147;
        z-index: 1000; /* 어드민 바 위에 표시 */
        

    }

    /* 햄버거 메뉴가 클릭된 경우에만 메뉴 보이게 */
    .custom-nav.show .custom-menu {
        display: block; /* 세로로 표시 */
    }

    /* 메뉴 항목이 세로로 쌓이도록 설정 */
    .custom-menu li {
        display: block;  /* 가로로 나열되지 않도록 강제로 block 처리 */
        margin: 10px 0;
    }

    .custom-menu li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        display: block; /* 링크도 세로로 정렬되도록 설정 */
        padding: 10px;
    }

    .custom-menu li a:hover {
        color: #c6e5ff;

    }
}

img {
    width: 100%; /* 가로 너비를 부모 요소에 맞춤 */
    height: auto; /* 세로 높이를 자동으로 맞춰 비율 유지 */
    object-fit: contain; /* 이미지가 깨지지 않도록 비율을 유지하면서 부모 요소 안에 맞춤 */
}

.home-heading {
    padding-left: 30px;
    padding-top: 30px;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.home-content {
    padding-left: 20px;
    padding-right: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.home-content .text-tiny {
    font-size: 10px; /* 원하는 크기로 설정 */
}

.home-content .text-small {
    font-size: 14px; /* 원하는 크기로 설정 */
}

.home-content .text-default {
    font-size: 16px; /* 원하는 크기로 설정 */
}

.home-content .text-big {
    font-size: 20px; /* 원하는 크기로 설정 */
}

.home-content .text-huge {
    font-size: 24px; /* 원하는 크기로 설정 */
}

/* 이미지 왼쪽 정렬 */
.home-content .image-style-align-left {
    float: left;         /* 이미지가 왼쪽에 정렬되도록 설정 */
    margin-right: 15px;  /* 이미지 오른쪽에 여백 추가 */
    max-width: 50%;      /* 이미지 크기를 부모 요소의 50%로 제한 (필요에 따라 조정) */
}

/* 이미지 오른쪽 정렬 */
.home-content .image-style-align-right {
    float: right;        /* 이미지가 오른쪽에 정렬되도록 설정 */
    margin-left: 15px;   /* 이미지 왼쪽에 여백 추가 */
    max-width: 50%;      /* 이미지 크기를 부모 요소의 50%로 제한 (필요에 따라 조정) */
}

/* 이미지 가운데 정렬 */
.home-content .image-style-align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.list-heading {
    padding-left: 30px;
    padding-top: 30px;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.list-content {
    padding-left: 20px;
    padding-right: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-content .text-tiny {
    font-size: 10px; /* 원하는 크기로 설정 */
}

.list-content .text-small {
    font-size: 14px; /* 원하는 크기로 설정 */
}

.list-content .text-default {
    font-size: 16px; /* 원하는 크기로 설정 */
}

.list-content .text-big {
    font-size: 20px; /* 원하는 크기로 설정 */
}

.list-content .text-huge {
    font-size: 24px; /* 원하는 크기로 설정 */
}

/* 이미지 왼쪽 정렬 */
.list-content .image-style-align-left {
    float: left;         /* 이미지가 왼쪽에 정렬되도록 설정 */
    margin-right: 15px;  /* 이미지 오른쪽에 여백 추가 */
    max-width: 50%;      /* 이미지 크기를 부모 요소의 50%로 제한 (필요에 따라 조정) */
}

/* 이미지 오른쪽 정렬 */
.list-content .image-style-align-right {
    float: right;        /* 이미지가 오른쪽에 정렬되도록 설정 */
    margin-left: 15px;   /* 이미지 왼쪽에 여백 추가 */
    max-width: 50%;      /* 이미지 크기를 부모 요소의 50%로 제한 (필요에 따라 조정) */
}

/* 이미지 가운데 정렬 */
.list-content .image-style-align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}


.gallery-heading {
    padding-left: 30px;
    padding-top: 30px;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.gallery-content {
    padding-left: 20px;
    padding-right: 50px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 800px; /* 텍스트 컨테이너의 최대 너비를 설정 */
    margin: 0 auto 0 0; /* 왼쪽에 고정되도록 하고, 우측 여백 없애기 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.gallery-content .text-tiny {
    font-size: 10px; /* 원하는 크기로 설정 */
}

.gallery-content .text-small {
    font-size: 14px; /* 원하는 크기로 설정 */
}

.gallery-content .text-default {
    font-size: 16px; /* 원하는 크기로 설정 */
}

.gallery-content .text-big {
    font-size: 20px; /* 원하는 크기로 설정 */
}

.gallery-content .text-huge {
    font-size: 24px; /* 원하는 크기로 설정 */
}

/* 홈 템플릿 이미지 스타일 */
.template-home img {
    height: auto; /* 세로 높이를 자동으로 맞춰 비율 유지 */
    object-fit: contain; /* 이미지가 깨지지 않도록 비율 유지 */
    display: block; /* 이미지가 텍스트 위에 블록처럼 배치되게 설정 */
}

/* 이미지 오른쪽 정렬: 텍스트가 왼쪽에 배치되도록 */
.template-home .image-style-align-right {
    float: right; /* 이미지 오른쪽 정렬 */
    margin-left: 15px; /* 이미지 왼쪽에 여백 추가 */
    max-width: 50%; /* 이미지 크기 조절 */
}

/* 이미지 왼쪽 정렬: 텍스트가 오른쪽에 배치되도록 */
.template-home .image-style-align-left {
    float: left; /* 이미지 왼쪽 정렬 */
    margin-right: 15px; /* 이미지 오른쪽에 여백 추가 */
    max-width: 50%; /* 이미지 크기 조절 */
}

/* 리스트 템플릿 이미지 스타일 */
.template-list img {
    width: 100%; /* 가로 너비를 부모 요소에 맞춤 */
    height: auto; /* 세로 높이를 자동으로 맞춰 비율 유지 */
    object-fit: contain; /* 이미지가 깨지지 않도록 비율 유지 */
    min-width: 100px; /* 최소 너비 설정 */
    max-width: 600px; /* 최대 너비 설정 */
    display: block; /* 이미지가 텍스트 위에 블록처럼 배치되게 설정 */

}

/* 이미지 오른쪽 정렬: 텍스트가 왼쪽에 배치되도록 */
.template-list .image-style-align-right {
    float: right; /* 이미지 오른쪽 정렬 */
    margin-left: 15px; /* 이미지 왼쪽에 여백 추가 */
    max-width: 50%; /* 이미지 크기 조절 */
}

/* 이미지 왼쪽 정렬: 텍스트가 오른쪽에 배치되도록 */
.template-list .image-style-align-left {
    float: left; /* 이미지 왼쪽 정렬 */
    margin-right: 15px; /* 이미지 오른쪽에 여백 추가 */
    max-width: 50%; /* 이미지 크기 조절 */
}

/* 갤러리 템플릿 이미지 스타일 */
.template-gallery img {
    width: 100%; /* 가로 너비를 부모 요소에 맞춤 */
    height: auto; /* 세로 높이를 자동으로 맞춰 비율 유지 */
    object-fit: contain; /* 이미지가 깨지지 않도록 비율 유지 */
    min-width: 100px; /* 최소 너비 설정 */
    max-width: 600px; /* 최대 너비 설정 */
    display: block; /* 이미지가 텍스트 위에 블록처럼 배치되게 설정 */

}

/* 이미지 오른쪽 정렬: 텍스트가 왼쪽에 배치되도록 */
.template-gallery .image-style-align-right {
    float: right; /* 이미지 오른쪽 정렬 */
    margin-left: 15px; /* 이미지 왼쪽에 여백 추가 */
    max-width: 50%; /* 이미지 크기 조절 */
}

/* 이미지 왼쪽 정렬: 텍스트가 오른쪽에 배치되도록 */
.template-gallery .image-style-align-left {
    float: left; /* 이미지 왼쪽 정렬 */
    margin-right: 15px; /* 이미지 오른쪽에 여백 추가 */
    max-width: 50%; /* 이미지 크기 조절 */
}

/* 하이라이트 스타일 */
#thumbnail-list li.highlight a {
    color: #007bff; /* 텍스트 색상 */
    font-weight: bold; /* 텍스트 굵기 */
    text-decoration: none; /* 밑줄 제거 */
}

#thumbnail-list li.highlight img {
    border: 2px solid #007bff; /* 섬네일 테두리 색상 */
    border-radius: 5px; /* 모서리 둥글게 */
}

