<aside id="thumbnail-list">
    <h3>Pages</h3>
    <ul>
        {% set sorted_menus = website_data.menus|sort(attribute='order') %}
        {% for menu in sorted_menus %}
            <li>
                <a href="{{ url_for('main.menu_editor', website_url=website_data.website_url, menu_name=menu.name|lower) }}">
                    <p>{{ menu.name }}</p>
                    <img src="{{ url_for('static', filename='thumbnails/thumbnail_' + menu.name.replace(' ', '_')|lower + '.jpg') }}" 
                    alt="{{ menu.name }}" 
                    onerror="this.onerror=null;this.src='/static/images/placeholder.jpg';">
               
                </a>
            </li>
        {% endfor %}
    </ul>
</aside>
