{% extends 'base.html' %}

{% block extra_styles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="csrf-token" content="{{ csrf_token() }}">

<title>CKEditor 5 - Quick start CDN</title>

<!-- CKEditor CSS 로드 -->
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.1.1/ckeditor5.css">
{% endblock %}

{% block content %}
<form id="ckeditor-form" method="POST" 
    action="{% if menu.order == 1 %}{{ url_for('main.main_menu_editor', website_url=website_data.website_url) }}{% else %}{{ url_for('main.menu_editor', website_url=website_data.website_url, menu_name=menu.name) }}{% endif %}">
    {{ form.hidden_tag() }}  <!-- CSRF 토큰을 포함하는 hidden_tag() -->

    <textarea name="content" id="editor">{{ content|safe }}</textarea>
    <input type="hidden" name="menu_id" value="{{ menu.id }}">
    <button type="submit" id="save-button">Save</button>
</form>
{% endblock %}

{% block scripts %}
<!-- CKEditor JS 파일을 로드 -->
<script src="{{ url_for('static', filename='bundle.js') }}"></script>
<script>
    ClassicEditor
   .create(document.querySelector('#editor'))
   .then(editor => {
       console.log('Editor was initialized', editor);
   })
   .catch(error => {
       console.error(error);
   });

</script>


{% endblock %}
