{% extends 'base.html' %}

{% block extra_styles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="csrf-token" content="{{ csrf_token() }}">

<title>CKEditor 5 - Quick start CDN</title>

<!-- CKEditor CSS 로드 -->
<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.1.1/ckeditor5.css">
{% endblock %}

{% block content %}
<form id="ckeditor-form" method="POST" 
    action="{% if menu.order == 1 %}{{ url_for('main.main_menu_editor', website_url=website_data.website_url) }}{% else %}{{ url_for('main.menu_editor', website_url=website_data.website_url, menu_name=menu.name) }}{% endif %}">
    {{ form.hidden_tag() }}  <!-- CSRF 토큰을 포함하는 hidden_tag() -->

    <textarea name="content" id="editor">{{ content|safe }}</textarea>
    <input type="hidden" name="menu_id" value="{{ menu.id }}">
    <button type="submit" id="save-button" data-menu-name="{{ menu.name }}">Save</button>
</form>
{% endblock %}

{% block scripts %}
<!-- CKEditor JS 파일을 로드 -->
<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.2.0/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.2.0/"
        }
    }
</script>

<script type="module">
import {
    ClassicEditor,
    Essentials,
    Bold,
    Italic,
    Font,
    Paragraph,
    Image,
    ImageToolbar,
    ImageCaption,
    ImageResize,
    ImageUpload,
    SimpleUploadAdapter,
    SourceEditing,
    ImageStyle,
    MediaEmbed,
    Table,
    TableCaption,
    TableCellProperties,
    TableColumnResize,
    TableProperties,
    TableToolbar,
    HorizontalLine
} from 'ckeditor5';

ClassicEditor
    .create(document.querySelector('#editor'), {
        plugins: [
            Essentials, Paragraph, Bold, Italic, Font,
            Image, ImageToolbar, ImageCaption, ImageResize, ImageUpload, MediaEmbed,
            SimpleUploadAdapter, SourceEditing, ImageStyle,
            Table, TableCaption, TableCellProperties, TableColumnResize,
            TableProperties, TableToolbar, HorizontalLine
        ],
        toolbar: [
            'undo', 'redo', '|', 'bold', 'italic', '|', 'fontSize', 'fontFamily', 
            'fontColor', 'fontBackgroundColor', '|', 'imageUpload', 'mediaEmbed', 
            '|', 'insertTable', '|', 'sourceEditing', '|', 'horizontalLine'
        ],
        image: {
            toolbar: [
                'imageStyle:inline', 'imageStyle:wrapText', 'imageStyle:breakText', '|', 'resizeImage'
            ]
        },
        simpleUpload: {
            uploadUrl: '/upload-image',
            headers: {
                'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        },
        ckfinder: { uploadUrl: '/upload-image' },
    })
    .then(editor => {
        console.log(editor.getData());
    })
    .catch(error => {
        console.error('There was a problem initializing the editor.', error);
    });




</script>



<script type="module" src="{{ url_for('static', filename='main.js') }}"></script>


{% endblock %}
