<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% block content %}
    <h1 class="header-title">Welcome! </h1> 

    <div style="text-align: center;"> <!-- 가운데 정렬 -->
        You’re at the easiest spot to make a website. <br> I’ll help you get yours up in no time.  <br> Let’s get started!<br><br><br>

        <a href="{{ url_for('main.register') }}" class="btn">Register</a>
        <a href="{{ url_for('main.login') }}" class="btn">Login</a>
    </div>
{% endblock %}
