{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>CKEditor 5 - Quick start CDN</title>
<script src="{{ url_for('static', filename='ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
<form method="POST" action="/save-edits" id="ckeditor-form">
    <textarea name="content" id="editor">
        &lt;p&gt;This is some sample content.&lt;/p&gt;
    </textarea>
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}

{% block scripts %}




<script src="https://cdn.ckeditor.com/4.25.0-lts/standard/ckeditor.js">

    ClassicEditor
        .create( document.querySelector( '#editor' ), {
            plugins: [ Essentials, Paragraph, Bold, Italic ],
            toolbar: [ 'undo', 'redo', 'bold', 'italic', 'numberedList', 'bulletedList' ],
        } )
        .catch( error => {
            console.error( error );
        } );
</script>
    


{% endblock %}
